body[onLoad] { background: @white}


#headerarea-small h1, #headerarea h1 {

font-size:28px ;

}


.headerarea {
  height: 72px;
}



.headerarea, .headerarea-small
{
  background-color: #efefef;
  padding: 0px 0px 0px 10px;
  background-image:none;
  margin: 0px;
  border-bottom: none;

}

#headerarea table {
  height: inherit;
  font-size: 11px;
  border-width: 1px;
  border-style: solid;
  border-color:#ddd;
  border-top: none;
  border-right: none;
}

#headerarea th
{
  background-color: #fff;
  background-image: none;
  padding-right: 2px;
  padding-left: 10px;
  border-top: none;
  border-right:none;
  text-align: right;
  font-weight: normal;
  color: @gray;


}

#headerarea td {
  background-color: #FFFFFF;
  padding: 0px;
  padding-right: 6px;
  text-align: left;
  border-top:none;
  border-right: none;
  color: @grayLight;

}

.horz-links-bkgrnd {
  background: #efefef;

}


.horz-links-bkgrnd #tabs .licurrent input, #tabs .licurrent input:hover, #tabs .licurrent input:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: #DDDDDD #DDDDDD transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555555;
  cursor: default;
  letter-spacing:-1px;

}

.horz-links-bkgrnd #tabs dt input {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  line-height: 20px;
  padding-bottom: 4px;
  padding-top: 0px;
  margin-right: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: #0088CC;
  font-size: 12px;
}

.horz-links-bkgrnd #tabs dt input:hover, #tabs dt input:focus {
  border-color: #ddd #ddd #DDDDDD;
  background: none;
  background-color: #ffffff;
  color: #0088CC;
  font-weight: normal;
}

.horz-links-bkgrnd #tabs input {
  height: 31px;
  font-weight: normal;
}

.horz-links-bkgrnd #tabs {
  border-bottom: 1px solid #DDDDDD;
  height: 30px;
  background: #efefef;

}



#workarea .tab {
  background: #efefef;

  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
}

#workarea .tab tr {
  border-bottom:none;
}


#workarea th, #workarea td, #workarea table, #workarea td.infoline, #workarea div.tab-container h3, th.grid, td.grid, td.infoline {
  border: 1px solid #fff;
  padding: 2px;
}

#workarea .tab {
  position: relative;
  margin-bottom:12px;
}
#workarea .tab tbody tr input {
  position: absolute;
  left: 12px;
  top: 12px;
}
#workarea .tab tbody tr h2 {
  margin-left: 70px;
}

